.planDetails__info{
    color: #fff;
    margin-top: 15px;
}
/* .planDetails__info > p {
    font-size: 16px;
    margin-bottom: 15px;
} */

.planDetail{
    display: flex;
    margin-bottom: 18px;
   font-size: 15px;
  justify-content: space-between;
   margin-left: 20px;
}

.planDetail > button {
    padding : 10px 10px !important;
    font-size: 1rem;
    margin-top: 5px;
    width:20%;
    color: #fff;
    background-color: #e50914;
    font-weight: 600;
    border:none;
    cursor: pointer;

}

.planDetails__selected {
    
    font-size: 1rem;
    margin-top: 5px;
    width:30% !important;
    color: #fff;
    background-color:gray !important;
    font-weight: 600;
    border:none;
    cursor:none !important;
}

